:root {
  --main-color: #299fca;
  --main-rgb: 41,159,202;
  --bg-color: #f2f2f2;
  --dark-color: #474747;
  --dark-rgb: 71,71,71;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none !important;
}

img.ficcionados {
  background-color: #1d7fd8;
}